<table>
  <thead>
  <tr>
    <th rowspan="3" *ngFor="let linha of linhas">{{ linha }}</th>
    <th [attr.colspan]="valoresColunas.length * medidas.length">{{ colunas.join(', ') }}</th>
  </tr>
  <tr>
    <ng-container *ngFor="let valorColuna of valoresColunas">
      <th [attr.colspan]="medidas.length">{{ valorColuna }}</th>
    </ng-container>
  </tr>
  <tr>
    <ng-container *ngFor="let valorColuna of valoresColunas">
      <th *ngFor="let medida of medidas">{{ medida.nome }}</th>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dado of dadosDinamicos">
    <td *ngFor="let valor of dado.chaveLinha.split(' | ')">{{ valor }}</td>
    <ng-container *ngFor="let valorColuna of valoresColunas">
      <td *ngFor="let medida of medidas">
        {{ getMedidaValor(dado, valorColuna, medida) }}
      </td>
    </ng-container>
  </tr>
  </tbody>
</table>
